<!DOCTYPE html>

<head>
   <title>TrustCommerce import tool</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-us" />
   <meta name="MSSmartTagsPreventParsing" content="true" />
    <style type="text/css">
       p.note {color:#555;}
        td {vertical-align:top; padding:10px 5px;}
       td, th {vertical-align:top; padding:10px 5px;}
       th {text-align:left;}
        .zebra1 {}
        .zebra0 {background:#eeeeee;}
    </style>
</head>
<body>
<h3>
    This page is for building CSV	 files for ascii-posting
    of credit card transactions into CX
</h3>

<!-- "objects" is a python list from "views.py" assigned from the queries to tcpayflow and djforms     -->
<!-- How does it know which object to process?
In views.py, objects is associated to the queries PCE_TRANSACTIONS, and PSM_TRANSACTIONS
which then populate tcpayflow_results, djforms_results
Those are, I think, put together by the "chain" command, which is essentially a union
So for the second step, I would have to add a new variable for objects referencing another query
How I pass a variable to it is another question....
-->



{% if objects|length > 0 %}
    <p>
        We have {{objects|length}} new credit card
        transaction{{objects|length|pluralize}}.
    </p>
    <p>
       Activity ID =  {{ activity }}
    </p>
    <table cellpadding="1" cellspacing="0" border="0">
         <tr class="zebra0">
              <th>Count</th>
              <th>ID</th>
              <th>Activity</th>
              <th>Amt</th>
              <!--<th>Date</th>-->
              <th>Name</th>
              <!--<th>Result</th>-->
              <th>Ref</th>
              <th>Code</th>
              <th>Action</th>
         </tr>

         {% for obj in objects %}
              <tr class="{% cycle 'zebra1' 'zebra0' %}">
                   <form name="get_activity_details" method="POST" action=".">
                       <td align="right">{{ forloop.counter }}</td>
                           <td>{{obj.0}}</td>
                           <td>{{obj.1}}</td>
                           <td>{{obj.2}}</td>
                           <!--<td>{{obj.5}}</td>-->
                           <td>{{obj.6}}</td>
                           <!--<td>{{obj.7}}</td>-->
                           <td>{{obj.8}}</td>
                           <td>{{obj.9}}</td>
                                <input name="activity" value="{{obj.0}}" type="hidden">
                                <input name="datasource" value="{{obj.10}}" type="hidden">
                                <input name="method" value="view_details" type="hidden">
                                <input name="selWTCode" value="{{obj.9}}" type="hidden">
                           <td><input name="submit" type="submit" value="View Details"></td>
                       </td>
                   </form>
              </tr>
         {% endfor %}

    </table>

{% else %}
   <p>There are no app fee transactions to import.</p>
{% endif %}