<!DOCTYPE html>

<head>
   <title>TrustCommerce import tool</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-us" />
   <meta name="MSSmartTagsPreventParsing" content="true" />
    <style type="text/css">
       p.note {color:#555;}
        td {vertical-align:top; padding:10px 5px;}
       td, th {vertical-align:top; padding:10px 5px;}
       th {text-align:left;}
        .zebra1 {}
        .zebra0 {background:#eeeeee;}
    </style>
</head>
<body>
<h3>
    Retrieve Credit Card Transactions (TAKE 2)
</h3>

<!-- "objects" is a python list from "views.py" assigned from the queries to tcpayflow and djforms
In views.py, objects is associated to the queries PCE_TRANSACTIONS, and PSM_TRANSACTIONS
which then populate tcpayflow_results, djforms_results
Those are, I think, put together by the "chain" command, which is essentially a union
So for the second step, I would have to add a new variable for objects referencing another query
How I pass a variable to it is another question....
-->

{% if objects|length > 0 %}
    <p>
        We have {{objects|length}} group{{objects|length|pluralize}} with credit card activity.
    </p>

    <table cellpadding="1" cellspacing="0" border="0">
         <col width="300">
         <col width="150">
         <col width="100">

         <tr class="zebra0">
           <th>Activity</th>
           <th>ID</th>
           <th>Count</th>
           <th>Action</th>
         </tr>

         {% for obj in objects %}


              <tr class="{% cycle 'zebra1' 'zebra0' %}">
                   <td>{{obj.0}}</td>
                   <td>{{obj.1}}</td>
                   <td>{{obj.2}}</td>
                    <td><a href="{% url 'trustcommerce_details' obj.1 %}">Details</a>
                      {% csrf_token %}
                   </td>
              </tr>
           {% endfor %}
            <!--obj.aggregate(Sum({{obj.2}}))['column__sum']-->
    </table>




{% else %}
   <p>There are no transactions to import.</p>
{% endif %}


</body>

</html>
